[Unit]
Description=Rover Control System
After=network.target

[Service]
ExecStart=/home/dc/rover-teleop/rover/rover.py
Restart=on-failure
User=dc
WorkingDirectory=/home/dc/rover-teleop
EnvironmentFile=/home/dc/rover-teleop/rover/.env

[Install]
WantedBy=multi-user.target 