[Unit]
Description=Rover Camera LiveKit Publisher
After=network.target rover-cam-gstreamer.service
Requires=rover-cam-gstreamer.service

[Service]
ExecStart=/bin/bash /home/dc/rover-teleop/rover/cam_publish.sh
Restart=on-failure
User=pi
WorkingDirectory=/home/dc/rover-teleop
EnvironmentFile=/home/dc/rover-teleop/.env
Environment="PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin:/home/pi/.local/bin"

[Install]
WantedBy=multi-user.target 